#storePanel(hidden).panel
	div
		h1 Store
			span.balance $#{balance.business}
		hr
		div
			input(type="text" name="name" placeholder="Name") 
			input(type="text" name="price" placeholder="Price") 
			input(type="text" name="postage" placeholder="Postage")  
			input#addNewGoods(type="button", value='CREATE')
		div
			table
						tbody
							tr
								td Name
								td State
								td Price($)
								td Postage($)
								td
							tbody#goodsShow_store
									
												
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			#trashbin.sortable
