#courierPanel(hidden).panel
	div
		h1 Courier
			span.balance $#{balance.courier}
		hr
		div
			table
						tbody
							tr
								td Name
								td State
								td Price($)
								td Postage($)
								td
							tbody#goodsShow_courier
							
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			#trashbin.sortable
