extends ./layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(type='text/javascript').
		$(document).ready(function(){
			console.log("it gets error");
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	#logo Bien
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		h1 Error: #{message}
		center
			h2 #{message}
			
		hr
