extends ./layout.jade
	
	
// --------------- Header -------------- //
block custom_header
title Bien
script(src='/javascripts/bien.js')
script(type='text/javascript').
		$(document).ready(function(){
			console.log("this is my home page");
		});		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./nav.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		#blockdate(title="date of last block") loading...
		div#home Welcome to Bien!
			img(src='./images/blockchain_bien_contract.png')
		
		// --------------- Home Panel
		include ./buyer.jade
		
		
		// --------------- Create Panel
		include ./business.jade
		
		
		// --------------- Trade View
		include ./courier.jade
		
block footer
	include ./blockchain.jade
