-////////////////////////////////////////////////// Functions //////////////////////////////////////////////////
-//Print Object Out Formatted
mixin debug(variable)
	br
	br
	pre #{JSON.stringify(variable, null, "\t")}

-////////////////////////////////////////////////// HTML //////////////////////////////////////////////////
-//Begin HTML
doctype html
html
	//Built by: cele
	//ETI Labs
	//Copyright 2016  - IBM
	head
		title Bien
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
		script(src='/javascripts/jquery-1.11.1.min.js')
		script(src='/javascripts/jquery-ui-1.11.4/jquery-ui.min.js')
		script(src='/javascripts/jquery.ui.touch-punch.min.js')
		script(src='/javascripts/blockchain.js')
		script(src='/javascripts/bien.js')
		script(src='/javascripts/funk.js')
		script(type='text/javascript').
			
			$(document).ready(function(){
				

				//Tab Navigation, show the corresponding panel
				$(".nav").click(function(){
					var show = $(this).html().trim().toLowerCase();
					showPanel(show);
				});
				$("#logo").click(function(){
				console.log("i want to go back to home");
					showHome();
				});
				function showHome(){
					var part = window.location.pathname.substring(0,3);
					window.history.pushState({},'', '/home');//put it in url so we can f5
					$(".panel").hide();
					$("#home").show();
				}
				function showPanel(show){
					if(show == '') show = 'home';					//default
					var part = window.location.pathname.substring(0,3);
					window.history.pushState({},'', '/' + show);//put it in url so we can f5

					$(".panel").hide();
					$("#home").hide();
					if($("#" + show + "Panel").length == 0){
						$("#error404").fadeIn();
					}
					else{
						$("#" + show + "Panel").fadeIn(300);
						$(".selectedNav").removeClass("selectedNav");
						$(this).addClass("selectedNav");
					}
				}
				//Blockchain panel toggle
				$("#viewBCWrap").click(function(){
					if($("#footerWrap").is(":visible")){
						$("#footerWrap").slideUp();
					}
					else{
						$("#footerWrap").slideDown();
					}
				});
			});
		block custom_header
		
		body
			#navPanel
				block navpanel
			
			#mainPanel
				#error404(hidden).panel 
					br
					center
						p Error 404
				
				block content
			#footerPanel
				block footer
